[submodule "server/lib/Socket.IO-node"]
	path = server/lib/Socket.IO-node
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "server/lib/IRC-js"]
	path = server/lib/IRC-js
	url = git://github.com/gf3/IRC-js.git
[submodule "server/lib/coloured-log"]
	path = server/lib/coloured-log
	url = git://github.com/bentruyman/coloured-log.git
