[submodule "vendor/express"]
	path = vendor/express
	url = git://github.com/visionmedia/express.git
[submodule "vendor/Socket.IO-node"]
	path = vendor/Socket.IO-node
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "vendor/IRC-js"]
	path = vendor/IRC-js
	url = git://github.com/gf3/IRC-js.git
[submodule "vendor/coloured-log"]
	path = vendor/coloured-log
	url = git://github.com/bentruyman/coloured-log.git
