#channels
{
    height: 500px;
    background-color: #fbfbfb;
    resize: none;
    overflow: auto;
    overflow-x: visible;
}

#channels a
{
    background-color: #f2f2f2;
    color: #333333;
    text-align: center;
    padding: 5px;
    display: block;
    text-decoration: none;
}

#channels a:hover
{
    background-color: #6c6c6c;
    color: #ffffff;
    font-weight: bold;
}

#channels a.active
{
    background-color: #8f8f8f;
    color: #ffffff;
    font-weight: bold;
}
