#chat
{
    height: 100%;
}

#chat .current-title
{
    height: 30px;
    display: block;
    background-color: #1462c1;
    text-align: center;
}

#chat .current-title span
{
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
}

#chat > .server, #chat > .chat-area
{
    background-color: #fbfbfb;
    display: none;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#chat .active, #chat .msg, #chat .text
{
    display: block;
}

#chat .nick, #chat .nick-server, #chat .nick-command
{
    display: block;
    float: left;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    word-wrap: break-word;
}

#chat .nick-server
{
    color: #171717;
}

#chat .nick-command
{
    color: #191970;
}

#chat .nick.current-user
{
    color: #ff0000;
}

#chat .txt
{
    display: block;
    float: left;
    border-left: 1px solid #d3d3d3;
    padding-left: 2px;
    padding-right: 2px;
    word-wrap: break-word;
}

.close_channel_button
{
    width: 15px;
    height: 15px;
    margin: 5px;
    float: right;
    display: none;
}

.close_channel_button img
{
    width: 15px;
    height: 15px;
}
