#chat > div
{
    height: 470px;
    background-color: #fbfbfb;
    display: none;
    resize: none;
    overflow-y: auto;
}

#chat .active, #chat .msg, #chat .text
{
    display: block;
}

#chat .nick, #chat .nick-server, #chat .nick-command
{
    display: block;
    float: left;
    border-right: 1px solid #d3d3d3;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    word-wrap: break-word;
}

#chat .nick-server
{
    color: #171717;
}

#chat .nick-command
{
    color: #191970;
}

#chat .nick.current-user
{
    color: #ff0000;
}

#chat .txt
{
    display: block;
    float: right;
    position: relative;
    left: -1px;
    border-left: 1px solid #d3d3d3;
    padding-left: 2px;
    padding-right: 2px;
    word-wrap: break-word;
}

#chat .current-info
{
    height: 30px;
    display: block;
    background-color: #1462c1;
    text-align: center;
}

#chat .current-info .title
{
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
}

#chat .close-channel
{
    width: 15px;
    height: 15px;
    margin: 5px;
    float: right;
    display: none;
}

#chat .close-channel img
{
    width: 15px;
    height: 15px;
}
