.container
{
    background-color: #c9c9c9;
    padding-left: 10px;
    padding-right: 10px;
}

#header
{
    width: 100%;
    text-align: center;
}

#header .title
{
    display: block;
    margin-top: 20px;
    font-size: 16px;
}

#menu
{
    margin-left : 10px;
}

#connection-informations
{
    background-color: #d4d4d4;
    display: none;
}

#connection-informations fieldset, #connection-informations input
{
    margin: 10px 10px 10px 10px;
}