.container
{
    background-color: #c9c9c9;
}

#header
{
    width: 100%;
    text-align: center;
}

#header .title
{
    display: block;
    margin-top: 20px;
    font-size: 16px;
}

#menu
{
    margin-left : 10px;
}

#connection-informations
{
    background-color: #d4d4d4;
    display: none;
}

#connection-informations fieldset, #connection-informations input
{
    margin: 10px 10px 10px 10px;
}

#channels, #users
{
    height: 500px;
}

#channels, #users
{
    background-color: #ffffff;
    margin-left: 10px;
    resize: none;
    overflow: auto;
    overflow-x: visible;
}

#chat div
{
    height: 470px;
    background-color: #ffffff;
    resize: none;
    overflow: auto;
    overflow-x: visible;
}

#prompt
{
    margin-left: 10px;
}

#prompt button
{
    margin-left: 8px;
    margin-top: 9px;
}

#chat div, #users
{
    display: none;
}

#chat .active
{
    display: block;
}

#chat div .msg
{
    display: block;
}

#chat .current-title
{
    height: 30px;
    display: block;
    background-color: #fff8dc;
    text-align: center;
}

#chat .current-title span
{
    font-weight: bold;
}

#chat .current-title img
{
    width: 15px;
    height: 15px;
    padding-top: 5px;
    padding-right: 5px;
    float: right;
}

#chat div .nick
{
    color: #8b008b;
}

#chat div .nick.current-user
{
    color: #ff0000;
}

#chat div .server-msg
{
    color: #228b22;
    font-weight: bold;
}

#chat div .command
{
    color: #191970;
    font-weight: bold;
}

#channels  a, #users .list *
{
    display: block;
    text-decoration: none;
    color: #000000;
}

#channels  a
{
    text-align: center;
    padding: 5px;
}

#users .list *
{
    text-align: right;
    padding-right: 5px;
}

#channels a:hover
{
    background-color: #ffa500;
    color: #ffffff;
    font-weight: bold;
}

#users .list a:hover
{
    color: #ee9a00;
    font-weight: bold;
}

#channels a.active
{
    background-color: #7ccd7c;
    color: #000000;
    font-weight: bold;
}
