#users
{
    height: 500px;
    background-color: #fbfbfb;
    display: none;
    resize: none;
    overflow: auto;
    overflow-y: visible;
}

#users .list a:hover
{
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
}

#users .list a
{
    text-align: left;
    display: block;
    text-decoration: none;
    padding-left: 2px;
    font-weight: bold;
}
