.container
{
    background-color: #c9c9c9;
}

.header
{
    width: 100%;
    text-align: center;
}

.header .title
{
    display: block;
    margin-top: 20px;
    font-size: 16px;
}

.channels div, .users div, .chat div
{
    height: 500px;
}

.channels div, .users div
{
    width: 130px;
    background-color: #ffffff;
    margin-left: 10px;
    resize: none;
    overflow: auto;
    overflow-x: visible;
}

.chat div
{
    width: 630;
    background-color: #ffffff;
    resize: none;
    overflow: auto;
    overflow-x: visible;
}

.prompt button
{
    margin-left: 8px;
    margin-top: 9px;
}

.chat div, .users div
{
    display: none;
}

.chat .active, .users .list.active
{
    display: block;
}

.chat div .msg
{
    display: block;
}

.chat div .current-user
{
    color: #ff0000;
}

.channels div a, .users .list *
{
    display: block;
    text-decoration: none;
    color: #000000;
}

.channels div a
{
    text-align: center;
    padding: 5px;
}

.users .list *
{
    text-align: right;
    padding-right: 5px;
}

.channels div a:hover
{
    background-color: #ffa500;
    color: #ffffff;
    font-weight: bold;
}

.users .list a:hover
{
    color: #ee9a00;
    font-weight: bold;
}

.channels div a.active
{
    background-color: #7ccd7c;
    color: #000000;
    font-weight: bold;
}
