body {
    padding: 0;
    margin: 0;
    font-family: Verdana,Arial,sans-serif;
    background: #f3f3f3 url(images/bg.png) repeat;
}

#container {
    padding: 15px 15px 15px 15px;
}

#tabs {
    margin-left: 15px;
    width: 760px;
}

.messages {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    width: 700px;
    height: 400px;
    overflow: auto;
    overflow-x:hidden;
    font-size: 1em;
}

textarea {
    display: block;
    height:70px;
}

fieldset {
    border:none;
    padding:5px;
    margin-bottom:20px;
}

fieldset legend{
    -moz-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
    border: 1px solid #e89d00;
    font-weight:bold;
    background-color: #e89d00;
    color:white;
    padding:5px;
}

#tab_wrapper input[type=text] {
    padding-left: 5px;
    padding-right: 5px;
    width:700px;
}

h1 {
    color: #c33620;
    font-family: MousseScript;
    font-family: Georgia;
    font-size: 38px;
    font-weight: normal;
    margin: 27px 0 20px 0;
}


.textWrapper {
    -moz-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #FFFFFF;
    margin-bottom:23px;
    overflow:hidden;
    padding:18px 28px;
}

.text {
    font-family: Verdana;
    font-size: 14px;
}

.text h3 {
    font-size: 24px;
    font-family: Georgia;
    color: #c33620;
    font-weight: normal;
    margin: 20px 0;
    padding: 0;
}

.text p {
    color: #442520;
    line-height: 1.6em;
    margin-bottom:10px;
    margin-top:0;
}

.text ul {
    overflow: hidden;
}

.text li {
    margin-bottom: 0.5em;
    line-height: 1.6em;
}

.text ul.facts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.text ul.facts li {
    margin: 0;
    padding: 0;
}
.text ul.facts li span {
    font-size: 19px;
    }

    .text h4 {
        font-size: 20px;
        font-family: Arial;
        color: #f6a901;
        font-weight: normal;
        margin: 20px 0;
        padding: 0;
}

#wrap {
  margin:auto;
  position:relative;
  text-align:left;
  width: 988px;
  margin: auto;
}

#header {
    height: 50px;
    position: relative;
    padding-bottom:10px;
}

#header img {
    position:absolute;
    right:0px;
    top:0px;
    width: 50px;
}
